<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Arnaldo's Lanches</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Arnaldo Lanches" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap_bkp.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>



<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>

<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />


<script src="../js/angular.min.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script src="../js/angular-resource.min.js"></script>
<script src="../js/ng-table.min.js"></script>
<script src="../js/ngCart.js"></script>


<script src="../js/angular-md5.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/format-number.js"></script>
<script src="../js/jquery.mask.js"></script>
<script src="../js/user.js"></script>

</head>
<body ng-app="UserApp" ng-controller="HomeCtrl">
	<div class="banner">
	
   	  <div class="container">
   	  	<div class="header_top">
   	  		
   	  	   <div class="header_top_left">
	  	      
	  	      <div class="box_11">
	  	      	<a href="#" ng-click="checkout()">
	  	      		<ngcart-summary></ngcart-summary>
	  	      	</a>
		      </div>
	          <p class="empty" ng-if="logged"><a href="#" onclick="alert('Em desenvolvimento')">Meus pedidos</a></p>
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">		  	 
			 <ul class="header_user_info">
			  <a class="login" ng-if="logged" href="#" ng-click="menuPage('user')"> 
				<li class="user_desc">Minha Conta</li>
			  </a>
			  <div class="clearfix"></div>
			  <a class="login" ng-if="!logged" href="#" ng-click="menuPage('login')">
				<li class="user_desc">Entrar</li>
			  </a>
			  <a class="login" href="#" ng-if="logged" ng-click="logout()">
				<li class="user_desc">Sair</li>
			  </a>
		     </ul>		  				
			 </div>
		     <div class="clearfix"> </div>
	  </div>
	  <div class="header_bottom">
	   <div class="logo">
		  <h1></h1>
	   </div>
   	   <div class="menu">
	     <ul class="megamenu skyblue">
			<li ng-repeat="menu in menus | orderBy:'description':false"><a class="color2" href="#" ng-click="list_product(menu.id)">{{ menu.description  }}</a></li>
		    <div class="clearfix"> </div>
		 </ul>
		</div>
	    <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>
   <div class="middle_content">
    	<div class="container">
    		<div ng-include="page"></div>    		
    	</div>
    </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#" onclick="alert('Em desenvolvimento')">Privacidade</a></li>
			<li><a href="#"  onclick="alert('Em desenvolvimento')">Termos</a></li>
			<li><a href="#"  onclick="alert('Em desenvolvimento')">Sobre</a></li>
			<li><a href="#"  onclick="alert('Em desenvolvimento')">Contato</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>	    
	    <div class="copy">
           <p> &copy; Arnaldo's Lanches. All Rights Reserved | Design by <a href="http://www.lltecnologia/" target="_blank">LL&T</a></p>
	    </div>
   	</div>
   </div>
</body>
</html>		