<h3>Acesso ao Sistema</h3>
<div class="col-md-7 account-top">
  <form>
		<div> 	
			<span>Email*</span>
			<input type="text"> 
		</div>
		<div> 
			<span class="pass">Password*</span>
			<input type="password">
		</div>				
		<input type="submit" ng-click="login()" value="Entrar">	
		<div class="etc-login-form">
				<p>Ainda não possui acesso? <a href="#" ng-click="newAccount()">Clique aqui</a></p>		
		</div>
		<div class="etc-login-form">
				<p>Esqueceu a senha? <a href="#">Clique aqui</a></p>		
		</div>
   </form>
</div>
		