<h3>Acesso ao Sistema</h3>
<div class="account-top">
  <form name="form">
		<div> 	
			
			<span>Usu&aacute;rio*</span>
			<input type="text" ng-model="user.login" required  /> 
		</div>
		<div> 
			<span class="pass">Password*</span>
			<input type="password" ng-model="user.password" required />
		</div>				
		<input type="submit" ng-click="login()" ng-disabled="form.$invalid" value="Entrar"></input><br />	
		<div class="etc-login-form">
				<p>Ainda n&atilde;o possui acesso? <a href="#" ng-click="newAccount()">Clique aqui</a></p>
				<p>Esqueceu a senha? <a href="#"  onclick="alert('Em desenvolvimento')">Clique aqui</a></p>		

		</div>
   </form>
</div>
		